body {
    background: url(https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80) no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

textarea:focus, input:focus, button:focus{
    outline: none;
}

#weathericon {
    text-align: center;
    vertical-align: bottom;
}
#pic {
    height: 180px;
    -webkit-filter: drop-shadow(10px 10px 10px rgb(0, 0, 0));
    filter: drop-shadow(10px 10px 10px rgb(0, 0, 0));
}

#maintab {
    
    background-color: rgba(0, 0, 0, 0.4);
    /* min-height: 600px; */
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#zip {
    color: white;
    margin-left: 10px;
    margin-top: 20px;
    padding-left: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    width: 240px;
    height: 40px;
    border-radius: 10px;
    border: solid 2px rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.507);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    
}

#zipbtn {
    font-size: 16px;
    font-weight: 600;
    height: 38px;
    border-radius: 10px;
    margin-left: -52px;
    width: 50px;
    border: solid 2px rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

#searchcol {
    text-align: left;
    min-width: 320px;
}

#citytext {
    color: white;
    text-align: center;
    font-size: 80px;
    font-family: 'Spectral', serif;
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
}

#tempcol {
    padding-left: 60px;
    font-family: 'Spectral', serif;
    text-align: center;
    color: white;
    min-width: 319px;
    font-size: 200px;
    font-weight: 300;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}



#units2 {
    vertical-align: auto;
    font-size: 40px;
    text-shadow: 8px 8px 6px rgba(0, 0, 0, 0.8);
}

#units {
    font-size: 40px;
    padding-top: 60px;
    text-shadow: 8px 8px 6px rgba(0, 0, 0, 0.8);
}

#unitscol {
    text-align: left;
}

#currentcond, #currentcond2 {
    margin-top: -20px;
    color: white;
    font-size: 22px;
    font-family: 'Spectral', serif;
    text-shadow: 8px 8px 6px rgb(0, 0, 0);
}

#timecol {
    padding-top: 40px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: 'Spectral', serif;
    text-shadow: 8px 8px 6px rgb(0, 0, 0);
}

#timeplace {
    font-size: 40px;
}
#dayplace, #dateplace {
    font-size: 20px;
    margin-top: -20px;
}

#nextday {
    padding-top: 40px;
    text-align: right;
    color: white;
    font-family: 'Spectral', serif;
    text-shadow: 8px 8px 6px rgb(0, 0, 0);
}
#tomorrow {
    font-size: 20px;
}
#tomorrowdate, #tomorrowtemp,#tomorrowtemp2, #tomorrowcond {
    font-size: 16px;
    margin-top: -20px;
}

.deletable, #deletable  {
    color: white;
    text-align: center;
    font-size: 80px;
    font-family: 'Spectral', serif;
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
}
#deletable2 {
    font-size: 40px;
}




@media(max-width: 767px) {
#searchcol {
    text-align: center;
}
#unitscol {
    text-align: center;
}
#maintempcol {
    text-align: center;
}
#conditions {
    text-align: center;
}
#nextday {
    text-align: center;
}
}
.focus-in-expand {
	-webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

















/* ----------------------------------------------
 * Generated by Animista on 2020-4-19 22:27:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  /* ----------------------------------------------
 * Generated by Animista on 2020-4-19 22:28:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  
  